body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.welcome-jumbotron {
    position: absolute;
    z-index: 1000;
    padding-left: 50px;
    width: 100%;
    height: 50%;
    opacity: 0.9;
}

.search-radius-component {
    width: 200px;
}

#search-radius-popover {
    padding: 15px;
}

.search-radius-popover-value{
    padding: 15px;
    color: black;
}

.radar-ring {
    border-style: dotted;
    -webkit-border-radius: 30px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

-webkit-keyframes pulsate {
        0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
        50% {opacity: 1.0;}
        100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.searchBar-results {
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    list-style-type: none;
}

.searchBar-resultFocusClass {
    background-color: #DCDCDC;
        width: 100%;
        display:block;
}